SUPABASE_URL=https://[yourprojectid].supabase.co/
SUPABASE_API_ANON_KEY=sb_publishable_**************************
SUPABASE_API_SECRET_KEY=sb_secret_************************
SUPABASE_PASSWORD=yourpassword
PROJECT_ID=yourprojectid
PROJECT_NAME=FixMyMedTech
SUPABASE_DB_URI=postgresql://postgres:[yourpassword]@db.[yourprojectid].supabase.co:5432/postgres